<!DOCTYPE html>
<html lang="en">
	<!-- Head Data -->
	<head>
		<!-- Meta data -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Title -->
		<title>{%block PageTitle %}{% endblock %}</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block base_scripts %}{% endblock %}
	</body>
</html>