<div class="navbar-header">
	<a class="navbar-brand" href="{{ url_for('index') }}">
		D3 Backend
	</a>
</div>
<ul class="nav navbar-nav">
	
	{% if session.isAdmin %}
		
		<li>
			<a href="{{ url_for('servers') }}">Server List</a>
		</li>
		
		<li>
			<a href="{{ url_for('users') }}">Users</a>
		</li>
		
		<li>
			<a href="{{ url_for('caches') }}">Caches</a>
		</li>
		
	{% endif %}
	
</ul>
<ul class="nav navbar-top-links navbar-right">
	{% if session.username %}
		
		{% if session.isAdmin %}
			<a href="{{ url_for('shutdownServers') }}">
				<i class="fa fa-power-off fa-fw"></i>
				Shutdown Servers
			</a>
		{% endif %}
		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i>
				{{ session.username }}
				<i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<!--
				<li>
					<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li>
				-->
				<li>
					<a href="{{ url_for('userSettings') }}"><i class="fa fa-gear fa-fw"></i> Settings</a>
				</li>
				
				<li class="divider"></li>
				
				<li>
					<a href="{{ url_for('logout') }}">
						<i class="fa fa-sign-out fa-fw"></i>
						Logout
					</a>
				</li>
			</ul>
		</li>
	{% else %}
		<li>
			<button type="button" class="btn btn-warning"
					data-toggle="modal" data-target="#createUserModal">
				Create Account
			</button>
		</li>
		<li>
			<a href="#" data-toggle="modal" data-target="#loginModal">
				<i class="fa fa-sign-in fa-fw"></i>
				Login
			</a>
		</li>
	{% endif %}
</ul>