{% extends "base/_styles.html" %}

{% block base_scripts %}
	<!-- jQuery -->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
	
	<!--
	<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
	-->
	
	<!-- Bootstrap Core JavaScript -->
	<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	
	<!-- Metis Menu Plugin JavaScript -->
	<script src="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
	
	<!-- Morris Charts JavaScript -->
	<script src="{{ url_for('static', filename='bower_components/raphael/raphael-min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/morrisjs/morris.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/morris-data.js') }}"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>
	
	{% include "component/modal/Login.html" %}
	{% include "component/modal/AddServer.html" %}
	{% include "component/modal/AddUser.html" %}
	
	{% block scripts %}{% endblock %}

{% endblock %}
