<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			
			<!-- Sidebar listings -->
			{% if session.username %}
				<li>
					<a href="#" data-toggle="modal" data-target="#addServerModal">
						<i class="fa fa-plus fa-fw"></i>
						Add Server
					</a>
				</li>
				
				{% if session.isAdmin %}
					<li>
						<a href="#" data-toggle="modal" data-target="#addUserModal">
							<i class="fa fa-plus fa-fw"></i>
							Add User
						</a>
					</li>
					
				{% endif %}
				
				<li>
					<a href="#"><i class="fa fa-cloud fa-fw"></i> Servers<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						{% for server in user_servers %}
							<li>
								<a href="{{ url_for('server', nameOwner=server.User.Username, nameServer=server.Name) }}">
									<i class="fa fa-dashboard fa-fw"></i>{{ server.Name }} :{{ server.Port }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
			<!-- End listings -->
			
		</ul>
	</div>
</div>