{% extends "base/_base.html" %}

{% block styles %}
	<!-- Bootstrap Core CSS -->
	<!---->
	<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!---->
	
	<!-- MetisMenu CSS -->
	<link href="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
	
	<!-- Data Tables -->
	<!---->
	<link href="{{ url_for('static', filename='bower_components/datatables/media/css/dataTables.bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='bower_components/datatables-responsive/css/responsive.dataTables.scss') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='bower_components/datatables/media/css/jquery.dataTables.css') }}" rel="stylesheet">
	<!---->
	
	<!-- Timeline CSS -->
	<link href="{{ url_for('static', filename='dist/css/timeline.css') }}" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">
	
	<!-- Morris Charts CSS -->
	<!--
	<link href="{{ url_for('static', filename='bower_components/morrisjs/morris.css') }}" rel="stylesheet">
	<!---->
	
	<!-- Custom Fonts -->
	<link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	
	<!-- Table CSS -->
	<!--
	<link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='dist/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
	<!---->
	
	<!-- Glyphicon -->
	<!---->
	<link href="{{ url_for('static', filename='glyphicon/css.css') }}" rel="stylesheet">
	<!---->
	
	{% include 'component/widgets/style.html' %}
	
	{% block PageStyles %}{% endblock %}
	
{% endblock %}