{% extends "base/Content.html" %}

{% block page_title %}
	{{ server.Name }}
{% endblock %}

{% block PageStyles %}
	<style type="text/css" media="screen">
		.aceEditor {
			height: 300px;
			text-align: left;
		}
	</style>
{% endblock %}

{% block content %}
	
	<!-- Start: Header -->
	<div id="header">
		<h1>
			<span style="text-align: left;">
				{{ server.Name }} <small>:{{ server.Port }} <span id="statusLabel" class="label label-danger">Offline</span></small>
				
				<span id="messages">
					<div class="btn-group">
						<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Messages
						</button>
						<ul id="messagesContent" class="dropdown-menu" style="width: 600%;">
						</ul>
					</div>
				</span>
				
			</span>
			<span style="float: right;">
				
				<span id="downloading"><small>
					Downloading <i class="glyphicon glyphicon-repeat gly-spin"></i>
				</small></span>
				
				{% with target="Server", class="", data=[server.User.Username, '|', server.Name]|join %}
					{% include 'component/button/Delete.html' %}
				{% endwith %}
				
				<small>Owner: {{ server.User.Username }}</small>
			</span>
		</h1>
	</div>
	<!-- End: Header -->
	
	<hr>
	
	<div id="playerStatus">
		{% set players_total = 20 %}
		{% set players_online = 2 %}
		
		{% with id="onlinePlayers", message="Players Online" %}
			{% include 'component/widgets/progressbar.html' %}
		{% endwith %}
	</div>
	
	<!-- Start: Panel: Console -->
	<div class="col-sm-12">
		<div id="control" class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title" style="text-align: center;">
					Control
				</h3>
			</div>
			<div class="panel-body" style="text-align: center;">
				
				<form action="{{ url_for('serverControl') }}" method="POST" enctype="multipart/form-data">
					{% include 'component/form/current.html' %}
					<input type="hidden" name="nameServer" value="{{ server.Name }}" />
					<input type="hidden" name="nameOwner" value="{{ server.User.Username }}" />
					
					<div style="display: inline-block; width: 30%;">
						<input id="startInput" type="submit" class="btn btn-success form-control" name="start" value="Start" />
					</div>
					<div style="display: inline-block; width: 30%;">
						<input id="stopInput" type="submit" class="btn btn-warning form-control" name="stop" value="Stop" />
					</div>
					<div style="display: inline-block; width: 30%;">
						<input id="killInput" type="submit" class="btn btn-danger form-control" name="kill" value="Kill" />
					</div>
				</form>
				
				<hr>
				<textarea id="console" class="form-control"
						style="font-family: monospace; min-height: 200px; height: 200px; font-size: 11px;"
						readonly cols="20" wrap="hard"
					></textarea>
				<form id="formConsole" action="{{ url_for('serverControl') }}" method="POST" enctype="multipart/form-data">
					{% include 'component/form/current.html' %}
					<input type="hidden" name="nameServer" value="{{ server.Name }}" />
					<input type="hidden" name="nameOwner" value="{{ server.User.Username }}" />
					<input id="command" type="text" name="command" placeholder="Command" class="form-control" />
				</form>
			</div>
		</div>
	</div>
	<!-- End: Panel: Console -->
	
	{% if userIsAdmin %}
	
	<!-- Start: Panel: Danger Zone -->
	<div class="col-sm-12">
		<div id="danger" class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title" style="text-align: center;">
					Danger Zone™
				</h3>
			</div>
			<div class="panel-body" style="text-align: center;">
				
				<!-- Start: Body: Danger Zone -->
				
				<div class="col-sm-12">
					
					<!-- Start: Panel: Moderators -->
					<div class="col-sm-6">
						<div id="moderators" class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title" style="text-align: center;">
									Moderators
									<button id="addModerator" type="button" class="btn btn-success btn-circle btn-sm"
											data-toggle="modal" data-target="#addModeratorModal"
											data-username="{{ server.User.Username }}" data-servername="{{ server.Name }}"
										>
										<i class="fa fa-plus"></i>
									</button>
								</h3>
							</div>
							<div class="panel-body">
								Usernames on the backend.
								<br />
								Can start, stop & use console.
								
								<table class="table table-striped table-bordered">
									<thread><tr>
										<th>Name</th>
										<th>Actions</th>
									</tr></thread>
									<tbody>
										{% for user in moderators %}
											<tr>
												<td>{{ user.User.Username }}</td>
												<td>
													<!-- Actions -->
													
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End: Panel: Moderators -->
					
					<!-- Start: Panel: Admins -->
					<div class="col-sm-6">
						<div id="admins" class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title" style="text-align: center;">
									Admins
									<button id="addAdmin" type="button" class="btn btn-success btn-circle btn-sm"
											data-toggle="modal" data-target="#addAdminModal"
											data-username="{{ server.User.Username }}" data-servername="{{ server.Name }}"
										>
										<i class="fa fa-plus"></i>
									</button>
								</h3>
							</div>
							<div class="panel-body">
								Usernames on the backend.
								<br />
								Can do everything except modify mods & admins and delete server.
								<table class="table table-striped table-bordered">
									<thread><tr>
										<th>Name</th>
										<th>Actions</th>
									</tr></thread>
									<tbody>
										{% for user in admins %}
											<tr>
												<td>{{ user.User.Username }}</td>
												<td>
													
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End: Panel: Admins -->
				
				</div>
				
				<div class="col-sm-12">
				
					<!-- Start: Panel: Restart -->
					<div class="col-sm-6">
						<div id="restart" class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title" style="text-align: center;">
									Restart Info
								</h3>
							</div>
							<div class="panel-body">
								<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
									
									<div class="form-group">
										<input type="checkbox" /> <label>Autostart</label>
										&nbsp;
										<label><small>Last autostart: {{ autostartLast }}</small></label>
									</div>
									
									<hr>
									
									<div class="form-group">
										<input type="checkbox" /> <label>Use Reboot Schedule</label>
									</div>
									
									<div class="form-group">
										<label>Reboot Schedule</label>
										<div class="input-group col-sm-8 col-sm-offset-2">
											<input type="number" aria-describedby="helpBlock" min="0" max="23" placeholder="0" class="form-control" />
											<div class="input-group-addon">h</div>
											<input type="number" aria-describedby="helpBlock" min="0" max="59" placeholder="0" class="form-control" />
										</div>
									</div>
									
									<div class="form-group">
										<div class="input-group">
											<input name="reboot_message" type="text" value="Server reboot in %time minutes!" class="form-control" />
											<div class="input-group-addon">%time = time left in min</div>
										</div>
										<small>This message gets send at: T- 15, 10, 5, 4, 3, 2, 1, 0 min.</small>
									</div>
									
									<hr>
									
									<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
								</form>
							</div>
						</div>
					</div>
					<!-- End: Panel: Restart -->
					
					<!-- Start: Panel: Custom -->
					{% with prefix="Custom_" %}
						{% include ['pages/server/Panel', server.Purpose, '.html']|join %}
					{% endwith %}
					<!-- End: Panel: Custom -->
				
				</div>
				
				<!-- End: Body: Danger Zone -->
				
			</div>
		</div>
	</div>
	<!-- End: Panel: Danger Zone -->
	
	<!-- Start: Panel: File Manip -->
	<div class="col-sm-12">
		<div id="filemanip" class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title" style="text-align: center;">
					File Manipulation
					
					<span class="pull-right">
						<form action="{{ url_for('browseServer', nameOwner = server.User.Username, nameServer = server.Name) }}"
								method = 'GET' >
							<button type="submit" class="btn btn-success">
								File Browser
							</button>
						</form>
					</span>
					
				</h3>
			</div>
			<div class="panel-body" style="text-align: center;">
				
				<ul class="nav nav-pills nav-justified">
					{% for file in fileData %}
						<li>
							<a data-toggle="pill" href="#{{ file['id'] }}">
								{{ file['filename'] }}
							</a>
						</li>
					{% endfor %}
				</ul>
				
				<div class="tab-content">
					{% for file in fileData %}
						<div id="{{ file['id'] }}" class="tab-pane fade">
							
							<h3>{{ file['filename'] }}</h3>
							
							<div class="aceEditor" id="editor{{ file['id'] }}">{{ file['contents'] }}</div>
							
							<br />
							
							<form id="form{{ file['id'] }}" enctype="multipart/form-data">
								<input type="hidden" name="id" value="{{ file['id'] }}" />
								<input type="hidden" name="filename" value="{{ file['filename'] }}" />
								<button type="submit" class="btn btn-info form-control">Save</button>
							</form>
							
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>
	<!-- End: Panel: File Manip -->
	
	{% endif %}
	
{% endblock %}

{% block scripts %}
	{% include 'component/modal/AddModerator.html' %}
	{% include 'component/modal/AddAdmin.html' %}
	{% include 'component/modal/Minecraft/Modpack.html' %}
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			/*global $*/
			var updateConsole = function(textarea) {
				var id = textarea.id;
				$.post("{{ url_for('getConsole') }}",
					{
						serverName : "{{ server.Name }}",
						ownerName : "{{ server.User.Username }}"
					},
					function(data, textstatus) {
						var doScroll = textArea.scrollHeight <= (textArea.scrollTop + parseInt(textArea.style.height, 10));
						textarea.value = data['console'];
						if (doScroll) textArea.scrollTop = textArea.scrollHeight;
					}, "json");
			};
			var updateProgressBar = function(progressBar, title, percentSpan) {
				$.post("{{ url_for('getOnlinePlayers') }}",
					{
						nameServer : "{{ server.Name }}",
						nameOwner : "{{ server.User.Username }}"
					},
					function(data, textstatus) {
						var total = data['total'];
						var number = data['number'];
						var percent = parseInt(number / total * 100);
						title.innerHTML = number;
						percentSpan.innerHTML = percent + "%";
						progressBar.setAttribute("style", "width: " + percent + "%;");
					}, "json");
			};
			var updateStatus = function() {
				$.post("{{ url_for('isServerOnline') }}",
					{
						nameServer : "{{ server.Name }}",
						nameOwner : "{{ server.User.Username }}"
					},
					function(data, textstatus) {
						var online = data['online'];
						
						if (online) {
							$("#statusLabel").text("Online").attr('class', 'label label-success');
							$("#startInput").attr('class', 'btn btn-success form-control disabled');
							$("#stopInput").attr('class', 'btn btn-warning form-control');
							$("#killInput").attr('class', 'btn btn-danger form-control');
						}
						else {
							$("#statusLabel").text("Offline").attr('class', 'label label-danger');
							$("#startInput").attr('class', 'btn btn-success form-control');
							$("#stopInput").attr('class', 'btn btn-warning form-control disabled');
							$("#killInput").attr('class', 'btn btn-danger form-control disabled');
						}
						
					}, "json");
			};
			// Downloads & Messages
			var updateMessages = function() {
				$.post("{{ url_for('getServerMessageData') }}",
					{
						nameServer : "{{ server.Name }}",
						nameOwner : "{{ server.User.Username }}"
					},
					function(data, textstatus) {
						
						// ~~~~~ Downloading Status ~~~~~~~~~~~~~~~~~~~~~~~~~~~
						
						var display = "none";
						if (data['isDownloading']) display = "float";
						
						var span = $('#downloading').get(0);
						span.style.display = display;
						
						// ~~~~~ Messages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						
						var errors = data['errors'];

						display = "none";
						var length = Object.keys(errors).length;
						if (length > 0) display = "float";
						
						span = $('#messages').get(0);
						span.style.display = display;
						
						var content = $("#messagesContent").get(0);
						content.innerHTML = "";
						
						for (var category in errors) {
							for (var errorIndex in errors[category]) {
								var error = errors[category][errorIndex];
								var html = "";
								
								html += "<li>";
								html += "<span class='row'>";
								
								html += "<div class='col-sm-10'>";
								html += '<strong>';
								html += category + ": ";
								html += error;
								html += '</strong>';
								html += "</div>";
								
								html += "<div class='col-sm-2'>";
								html += '<form action="' + "{{ url_for('removeServerNotification') }}" + '" method="POST">';
								html += '<input type="hidden" name="nameOwner" value="{{ server.User.Username }}" />';
								html += '<input type="hidden" name="nameServer" value="{{ server.Name }}" />';
								html += '<input type="hidden" name="category" value="' + category + '" />';
								html += '<input type="hidden" name="index" value="' + errorIndex + '" />';
								html += '<button type="submit" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></button>';
								html += '</form>';
								html += "</div>";
								
								html += "</span>"
								html += "</li>";
								
								content.innerHTML += html;
							}
							
						}
						
					}, "json");
			};
			
			var textArea = document.getElementById("console");
			var onlinePlayersDiv = $("#onlinePlayersWidth").get(0);
			var onlinePlayersSpanTitle = $("#onlinePlayersTitle").get(0);
			var onlinePlayersSpanPercent = $("#onlinePlayersPercent").get(0);
			
			updateConsole(textArea);
			updateProgressBar(onlinePlayersDiv, onlinePlayersSpanTitle, onlinePlayersSpanPercent);
			updateMessages();
			var checkWidgetsHalfSecond = setInterval(function() {
				updateConsole(textArea);
				updateStatus();
			}, 250);
			var check1Minute = setInterval(function() {
				updateProgressBar(onlinePlayersDiv, onlinePlayersSpanTitle, onlinePlayersSpanPercent);
				updateMessages();
			}, 60000);
		});
	</script>
	
	<script src="{{ url_for('static', filename='ace/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='ace/src-noconflict/ext-modelist.js') }}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" language="javascript">
		var allFileData = {{ fileData|tojson }};
		var modelist = ace.require("ace/ext/modelist");
		for (var i = 0; i < allFileData.length; i++) {
			var fileData = allFileData[i];
			
			var editor = ace.edit("editor" + fileData['id']);
			editor.setTheme("ace/theme/twilight");
			
			var mode = modelist.getModeForPath(fileData['filename']).mode;
			editor.getSession().setMode(mode);
			
			$("#" + fileData['id']).submit(function(event) {
				var id = event.target[0].value;
				var filename = event.target[1].value;
				var content = ace.edit('editor' + id).getValue();
				$.post("{{ url_for('updateServerFile') }}", {
					'nameOwner': '{{ server.User.Username }}',
					'nameServer': '{{ server.Name }}',
					'type': '{{ server.Purpose }}',
					'id': id,
					'filename': filename,
					'content': content
				}, function(data) {});
				event.preventDefault();
			});
			
		}
	</script>
	
	{% include ['pages/server/Scripts', server.Purpose, '.html']|join %}
{% endblock %}
