{% set url_server = url_for("browseServer", nameOwner = server.User.Username, nameServer = server.Name) %}
{% set url = url_for("browseServer", nameOwner = server.User.Username, nameServer = server.Name, path = path) %}

{% extends "base/Content.html" %}

{% block page_title %}
	{{ server.Name }}
{% endblock %}

{% block PageStyles %}
	<style type="text/css" media="screen">
		.aceEditor {
			height: 300px;
			text-align: left;
		}
	</style>
{% endblock %}

{% block content %}
	
	<div id="actions" class="well-sm">
		
		<a class="btn btn-default" href='{{ url_for("server", nameOwner = server.User.Username, nameServer = server.Name) }}'>
			<i class="fa fa-chevron-left"></i> Server
		</a>
		
		{% if not isFile %}
			<div class="pull-right">
				
				<button type="button" class="btn btn-default"
						data-toggle="modal" data-target="#uploadModal">
					<i class="fa fa-upload"></i> Upload
				</button>
				
				<button type="button" class="btn btn-default"
						data-toggle="modal" data-target="#newFileModal">
					<i class="fa fa-file"></i> New File
				</button>
				
				<button type="button" class="btn btn-default"
						data-toggle="modal" data-target="#newFolderModal">
					<i class="fa fa-folder"></i> New folder
				</button>
				
			</div>
		{% endif %}
	</div>
	
	<ol class="breadcrumb" id="breadcrumb"></ol>
	
	{% if isFile %}
		{% if not isBinary %}
			<div class="aceEditor" id="editor">{{ fileContents|encodeText }}</div>
		{% else %}
			<div>{{ fileContents|encodeText }}</div>
		{% endif %}
	{% else %}
		<table class="table table-hover table-condensed" id="filemanager"></table>
	{% endif %}
	
	
{% endblock %}

{% block scripts %}
	
	{% include 'component/modal/browser/Upload.html' %}
	{% with type="File" %}
		{% include 'component/modal/browser/New.html' %}
	{% endwith %}
	{% with type="Folder" %}
		{% include 'component/modal/browser/New.html' %}
	{% endwith %}
	{% include 'component/modal/browser/Command.html' %}
	
	<script src="{{ url_for('static', filename='ace/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='ace/src-noconflict/ext-modelist.js') }}" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" language="javascript">
		/*global ace*/
		function fillBreadcrumb(path, url) {
			/*global $*/
			var nameOwner = '{{ server.User.Username }}';
			var nameServer = '{{ server.Name }}';
			$('ol#breadcrumb').html('<li><a href="' + url + '">' + nameOwner + '_' + nameServer + '</a></li>');
			var parts = path.split('/');
			var html = '';
			var link = '';
			for (var i = 0; i < parts.length; i++) {
				if (i != parts.length - 1) {
					link += i == 0 ? parts[i] : '/' + parts[i];
					html += '<li><a href="' + url + link + '">' + parts[i] + '</a></li>';
				}
				else
					html += '<li class="active">' + parts[i] + '</li>';
			}
			$('ol#breadcrumb').append(html);
		}
		
		function fillFileManager(path, url) {
			$('table#filemanager').empty();
			
			$('table#filemanager').append(
				'<tr>' +
					'<th>File Name</th>' +
					'<th>Size</th>' +
					'<th>Permissions</th>' +
					'<th>Actions</th>' +
				'</tr>'
			);
			
			var contents = JSON.parse('{{ dirContents|tojson }}');
			for (var element in contents) {
				var data = contents[element];
				// https://github.com/W4RH4WK/MinimalFileManager
				var elementURL = url + path + (path != '' ? '/' : '') + element;
				
				var icon = data['isFile'] ? (data['isBinary'] ? 'file' : 'file-text') : 'folder';
				var name = '<a href="' + elementURL + '">' + element + '</a>';
				var size = data['size'];
				var perms = data['perms'];
				var permStr = perms + ' ';
				for (var i in perms) {
					var char = perms[i];
					if (char == '0') permStr += '---';
					else if (char == '1') permStr += '--x';
					else if (char == '2') permStr += '-w-';
					else if (char == '3') permStr += '-wx';
					else if (char == '4') permStr += 'r--';
					else if (char == '5') permStr += 'r-x';
					else if (char == '6') permStr += 'rw-';
					else if (char == '7') permStr += 'rwx';
				}
				
				var actions = "";
				var form = '<form action="' + elementURL + '" method="POST">\n';
				var div = '<div style="display: inline-block;">';
				
				var cmdButton =
						'<button type="submit" class="openCommand btn btn-warning btn-xs"' +
							'data-toggle="modal" data-target="#commandModal" data-element="' + element + '">' +
							'<i class="fa fa-terminal"></i> Command' +
						'</button>';
				actions += div + cmdButton + '</div>';
				
				actions += '&nbsp;';
				
				var deleteData = '<input type="hidden" name="function" value="delete" />' +
						'<input type="hidden" name="path" value="' + path + '" />';
				var deleteButton =
						'<button type="submit" class="btn btn-danger btn-xs">' +
							'<i class="fa fa-trash-o"></i> Delete' +
						'</button>';
				actions += div + form + deleteData + deleteButton + '</form></div>';
				
				$('table#filemanager').append(
					'<tr>' +
						'<td>' +
							'<i class="fa fa-' + icon + '"></i> ' +
							name +
						'</td>' +
						'<td>' +
							size +
						'</td>' +
						'<td>' +
							permStr +
						'</td>' +
						'<td>' +
							actions +
						'</td>' +
					'</tr>'
				);
			}
		}
		
		function initEdittor(path, url) {
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/twilight");
			var modelist = ace.require("ace/ext/modelist");
			var mode = modelist.getModeForPath('{{ filename }}').mode;
			editor.getSession().setMode(mode);
			editor.setOptions({
				//fontFamily: "tahoma",
				fontSize: "12pt"
			});
			editor.getSession().on('change', function() {
				$.post(url + path,
					{
						'function': 'saveFile',
						'content': editor.getSession().getValue()
					},
					function(result) {
						//console.log(result);
					}
				);
			});
		}
		
		$(document).ready(function() {
			var isFile = '{{ isFile }}' === 'True';
			var isBinary = '{{ isBinary }}' === 'True';
			var path = "{{ path }}";
			var url = '{{ url_server }}';
			fillBreadcrumb(path, url);
			if (!isBinary) {
				if (!isFile) fillFileManager(path, url);
				else initEdittor(path, url);
			}
		});
	</script>
{% endblock %}
