{% extends "base/Table.html" %}

{% block page_title %}
	Servers
{% endblock %}

{% block tableHeader %}
	Servers
{% endblock %}

{% block tableColumnsHeaders %}
	<th>Server Name</th>
	<th>Owner</th>
	<th>Port</th>
	<th>Purpose</th>
	<th></th>
{% endblock %}

{% block tableBody %}
	{% if data is not none %}
		{% for entry in data %}
			<tr>
				<td>
					<a href="{{ url_for('server', nameOwner=entry.User.Username, nameServer=entry.Name) }}">{{ entry.Name }}</a>
				</td>
				<td>{{ entry.User.Username }}</td>
				<td>{{ entry.Port }}</td>
				<td>{{ entry.Purpose }}</td>
				<td>
					
					{% with target="Server", class="", data=[entry.User.Username, '|', entry.Name]|join %}
						{% include 'component/button/Delete.html' %}
					{% endwith %}
					
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{%endblock%}

{% block baseModals %}{% endblock %}

{% block postScripts %}{% endblock %}
