{% set id="addServer" %}
{% set title="Add Server" %}
{% set action="addServer" %}

{% extends 'component/modal/Base.html' %}

{% block form %}
	
	<div class="form-group">
		<label for="name">Server Name {% include "component/StarRed.html" %}</label>
		<input name="name" placeholder="" type="text" class="form-control" required/>
	</div>
	
	<div class="form-group">
		<label for="type">Type {% include "component/StarRed.html" %}</label>
		<select id="type" name="type" class="form-control" required>
			<option selected>Select One</option>
			{% for type in server_types %}
				<option>{{ type }}</option>
			{% endfor %}
		</select>
	</div>
	
	{% with prefix="AddServer_" %}
		{% for type in server_types %}
			<div id="{{ type }}Options" style="display: none;">
				{% include ['component/modal/server_options/', type, '.html']|join %}
			</div>
		{% endfor %}
	{% endwith %}
	
	<div id='output'></div>
	
{% endblock %}
{% block scripts %}
	<script type="text/javascript" language="javascript">
		$('#type').on('change', function() {
			var options = document.getElementById("type"), option, i, div;
			for (i = 1; i < options.length; i++) {
				option = options[i];
				div = document.getElementById(option.value + "Options");
				if (option.selected) div.style.display = "block";
				else div.style.display = "none";
			}
		});
	</script>
	<script type="text/javascript" language="javascript">
		var forgeVersions = {{ caches['Minecraft'].getVersionsForgeSorted()|tojson }};
		$("#AddServer_" + "version_minecraft").on('change', function() {
			var selected = $("#AddServer_" + "version_minecraft option:selected").text();
			
			forgeSelect = $("#AddServer_" + 'version_forge');
			forgeSelect.find('option').remove().end();
			
			forgeSelect.append('<option></option>');
			$.each(forgeVersions[selected], function(text) {
				forgeSelect.append('<option>' + text + '</option>');
			});
			
		});
	</script>
{% endblock %}