<div class="modal fade" id="{{ id }}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<!-- Start: Header -->
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				
				<div>
					<h4 class="modal-title" style="float: left;">{{ title }}&nbsp</h4>
					<h4 class="modal-title" style="float: left;" id="title"></h4>
				</div>
				
			</div>
			<!-- End: Header -->
			
			<!-- Start: Body -->
			<div class="modal-body">
				<form action="{{ url_for(action) }}" method="POST" enctype="multipart/form-data">
					<input name="current" type="hidden" value="{{ current }}" class="form-control" />
					
					{% block form %}{% endblock %}
					
					<!-- Start: Footer -->
					<div class="modal-footer">
						
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						
						<button type="submit" class="btn btn-primary">
							{{ title }}
						</button>
						
					</div>
					<!-- End: Footer -->
					
				</form>
			</div>
			<!-- End: Body -->
			
		</div>
	</div>
</div>