{% set id="changePassword_Admin" %}
{% set title="Change Password" %}
{% set action="changeUserPass_Admin" %}

{% extends 'component/modal/Base.html' %}

{% block form %}
	<input id="username" name="username" type="hidden" class="form-control" value="_" />
	<div class="form-group">
		<label for="new">Password {% include "component/StarRed.html" %}</label>
		<input name="new" placeholder="" type="password" class="form-control" required/>
	</div>
	<div class="form-group">
		<label for="verify">Verify Password {% include "component/StarRed.html" %}</label>
		<input name="verify" placeholder="" type="password" class="form-control" required/>
	</div>
	{% include 'component/MessageError.html' %}
{% endblock %}

{% block scripts %}
	<script language="javascript">
		$(document).on("click", ".changePasswordAdminModal", function() {
			var data = $(this).data('id');
			$(".modal-body #username").val(data);
		})
	</script>
{% endblock %}
