{% set id="login" %}
{% set title="Login" %}
{% set action="login" %}

{% set url = url_for(action) %}
{% extends 'component/modal/Base.html' %}

{% block form %}
	<div class="form-group">
		<label for="username">Username {% include "component/StarRed.html" %}</label>
		<input name="username" placeholder="" type="text" class="form-control" required autofocus/>
	</div>
	<div class="form-group">
		<label for="password">Password {% include "component/StarRed.html" %}</label>
		<input name="password" placeholder="" type="password" class="form-control" required/>
	</div>
	{% include 'component/MessageError.html' %}
{% endblock %}
