<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     D3Backend
  ~     Copyright (C) 2015  Dries007 & Double Door Development
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published
  ~     by the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<Configuration status="WARN" packages="net.doubledoordev.backend.util">
    <Appenders>
        <!-- Normal -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%p] %c: %m%n"/>
        </Console>
        <CustomLogAppender name="CustomLogAppender">
            <PatternLayout pattern="%d{HH:mm:ss} [%p] %c: %enc{%m}%n"/>
        </CustomLogAppender>
        <RollingRandomAccessFile name="FileMain" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%p] %c: %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <!-- CMD -->
        <Console name="ConsoleCmd" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <CustomLogAppender name="CustomLogAppenderCmd">
            <PatternLayout pattern="%enc{%m}%n"/>
        </CustomLogAppender>
        <!-- Servers -->
        <Console name="ConsoleServers" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %c: %replace{%m}{^(?:\s*\[(?:\d\d[-:.]?)+\]\s*)}{}%n"/>
        </Console>
        <CustomLogAppender name="CustomLogAppenderServers">
            <PatternLayout pattern="%d{HH:mm:ss} %c: %enc{%replace{%m}{^(?:\s*\[(?:\d\d[-:.]?)+\]\s*)}{}}%n"/>
        </CustomLogAppender>
    </Appenders>
    <Loggers>
        <Logger name="Main" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileMain"/>
            <AppenderRef ref="CustomLogAppender"/>
        </Logger>
        <Logger name="cmd" level="trace" additivity="false">
            <AppenderRef ref="ConsoleCmd"/>
            <AppenderRef ref="FileMain"/>
            <AppenderRef ref="CustomLogAppenderCmd"/>
        </Logger>
        <Logger name="accessLog" level="trace" additivity="false">
            <AppenderRef ref="FileAccess"/>
        </Logger>
        <Root level="trace" additivity="false">
            <AppenderRef ref="ConsoleServers"/>
            <AppenderRef ref="CustomLogAppenderServers"/>
        </Root>
    </Loggers>
</Configuration>
