<div class="progressBar" id="{{ id }}">
	<p>
		<strong>{{ message }}</strong>
		<span class="pull-right text-muted" id="{{ id }}">{{ percent }}%</span>
	</p>
	<div class="progress progress-striped active">
		<div id="{{ id }}Width" class="progress-bar progress-bar-info" role="progressbar"
				aria-valuenow="{{ percent }}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}"
				style="width: {{ percent }}%">
			<span class="sr-only">
				{% if message %}
					{{ message }}
				{% else %}
					{{ percent }}%
				{% endif %}
			</span>
		</div>
	</div>
</div>