{% extends 'pages/server/Panel.html' %}

{% block title %}
	Starbound Options
{% endblock %}

{% block body %}
	
	<form action="{{ url_for('saveRunConfig') }}" method="POST" enctype="multipart/form-data">
		
		<input name="nameServer" type="hidden" value="{{ server.Name }}" />
		<input name="nameOwner" type="hidden" value="{{ server.User.Username }}" />
		<input name="game" type="hidden" value="{{ server.Purpose }}" />
		
		{% include 'component/modal/server_options/Starbound.html' %}
		
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
	
{% endblock %}
