</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
        var xmlhttp;

        function call()
        {
            execute('PUT', window.location.origin + "/" + Array.prototype.slice.apply(arguments).join("/"));
        }

        function execute($method, $url)
        {
            xmlhttp=new XMLHttpRequest();
            xmlhttp.open($method, $url, true)
            xmlhttp.send(null);

            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState == 4)
                {
                    if (xmlhttp.status != 200) alert("Error...\n" + xmlhttp.responseText);
                    else setTimeout(function(){location.reload()}, 2500);
                }
            }
        }
    </script>
</body>
</html>