<div class="form-group">
	<label for="ip">Hostname / IP</label>
	<input name="ip" placeholder="Binds to all IPs by default" type="text" class="form-control" />
</div>

<div class="form-group">
	<center>
		<label>RAM (MB)</label>
		<div style="display: inline-block;">
			<label for="ram_min">Min</label>
			<input name="ram_min" placeholder="4096" value="4096" type="number" class="form-control" />
		</div>
		<div style="display: inline-block;">
			<label for="ram_max">Max</label>
			<input name="ram_max" placeholder="4096" value="4096" type="number" class="form-control" />
		</div>
	</center>
</div>

<div class="form-group">
	<label for="perm_gen">Perm Gen (MB)</label>
	<input name="perm_gen" placeholder="64" value="64" type="number" class="form-control" />
</div>

<div class="form-group">
	<label for="other_java_params">Extra Java Parameters</label>
	<input name="other_java_params" type="text" class="form-control" />
</div>

<div class="form-group">
	<label for="other_mc_params">Extra Minecraft Parameters</label>
	<input name="other_mc_params" type="text" class="form-control" />
</div>

<div class="form-group">
	<label for="jar_name">Jar Name</label>
	<input name="jar_name" placeholder="minecraft_server.jar" value="minecraft_server.jar" type="text" class="form-control" />
</div>

<div class="form-group">
	<input name="autostart" type="checkbox" />
	<label for="autostart">Autostart</label>
</div>

<center>
	By clicking submit you indicate that you agree to <a href="https://account.mojang.com/documents/minecraft_eula">Mojang's EULA</a>.
</center>
