{% set id="modpack" %}
{% set title="Upload Modpack" %}
{% set action="index" %}

{% extends 'component/modal/Base.html' %}

{% block form %}
	
	<ul class="nav nav-tabs nav-justified">
		<li class="active">
			<a href="#uploadPackCurseforge" data-toggle="tab">Curseforge</a>
		</li>
		<li>
			<a href="#uploadPackLink" data-toggle="tab">Link</a>
		</li>
		<li>
			<a href="#uploadPackZip" data-toggle="tab">Zip</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div id="uploadPackCurseforge" class="tab-pane fade in active">
			<br />
			
			
			
			<br />
			<input id="curseforge" type="submit" class="btn btn-primary form-control" name="curseforge" value="Upload" />
		</div>
		<div id="uploadPackLink" class="tab-pane fade">
			<br />
			<input name="link" class="form-control" placeholder="www.google.com" />
			
			
			
			<br />
			<input id="link" type="submit" class="btn btn-primary form-control" name="link" value="Upload" />
		</div>
		<div id="uploadPackZip" class="tab-pane fade">
			<br />
			
			
			
			<br />
			<input id="zip" type="submit" class="btn btn-primary form-control" name="zip" value="Upload" />
		</div>
	</div>
	
{% endblock %}
